* {
  font-family: 'Open Sans', sans-serif;
  color: #4d4d4d;
  font-weight: 400;
}

body {
  background-color: #bfe7fd;
  background-image: url(images/nintendo-background.jpg);
  background-position: top;
  background-repeat: repeat-x;
}

/*header styles*/
header {
  width: 100%;
  height: 20vh;
  background: #CC3C3C;
  position: relative;
}

h4 {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-right: 30px;
  margin-left: 10px;
  line-height: 14px;

}

h4:hover {
  color: #fff;
  cursor: pointer;
}

h4 a {
  color: #fff;
  text-decoration: none;
}

.header-account-dropdown {
  position: absolute;
  right: 20px;
  top: 15px;
  display: flex;
  align-items: center;
}

.account-author-image {
  margin-right: 10px;
}

.header-left-link-image {
  height: 12px;
}

.header-account-down-arrow {
  margin-left: 10px;
  display: flex;
}

.header-account-dropdown a {
  text-decoration: none;
  font-size: 12px;
  color: #f9b84f;
}

.header-logo {
  position: absolute;
  right: 20px;
  bottom: 30px;
  z-index: 1;
}

.header-logo img {
  height: 50px;
}

nav ul {
  width: 100%;
  display: flex;
  padding-left: 30px;
  bottom: 0;
  position: absolute;
  margin-bottom: 20px;
  align-items: center;
}

nav img {
  height: 12px;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
}


/*card styles*/
main {
    padding: 2%;
}

main h1 {
  color: #f9b84f;
  font-weight: bold;
  width: 100%;
  margin-bottom: 30px;
  font-size: 24px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.card {
  background: #fff;
  box-shadow: 0 2px 6px 0 #ccc;
  word-break: break-all;
  position: relative;
  overflow: hidden;
}

.card-header-img {
  background: #CC3C3C;
  height: 145px;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-header-border {
  background-image: url(images/card-header-img-bottom-border.png);
  background-repeat: repeat-x;
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0;
} 

.card-info {
  padding: 5%;
  display: flex;
  flex-direction: column;
  background: url(images/card-background.jpg);
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: #4d4d4d;
  font-weight: 300;
  font-size: 15px;
}

label, input { 
  display: none;
}

.card-views {
  color: #fff;
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-views p {
  margin: 0;
  padding: 0;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 400; 
  color: #fff;
}

.card-views .card-views-count {
  font-size: 25px;
}

.timestamp {
  margin-top: 4px;
  color: #999;
  font-size: 11px;
}

.card-main-link {
  padding: 4%;
  background: #efefef;
  font-size: 11px;
  white-space: pre-wrap;
  margin: 20px 0;
  line-height: 16px;
  height: 82px;
  word-break: normal;
  display: flex;
  align-items: center;
}

.card-main-link a {
  color: #666;
}

.card-small-header {
  font-size: 10px;
  margin-bottom: 2px;
  color: #4d4d4d;
  text-transform: uppercase;
}

h3 {
  margin: 0 0 5px 0;
  font-size: 14px;
  color: #4d4d4d;
  font-weight: 700;
}

.card-attachments-count {
  margin: 3px 0 10px 0;
  font-size: 28px;
  color: #25b5fc;
  text-transform: uppercase;  
}

.card-stripes {
  position: absolute;
  bottom: -60px;
  right: 0;
}

input[type=checkbox] {
 position: absolute;
 top: -9999px;
 left: -9999px;
}

.toggle-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

label:hover {
  cursor: pointer;
}

input {
  display: block;
}

.card .hero-img {
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 70%;
  background-repeat: no-repeat;
}

.card.one .hero-img {
  background-image: url(images/bubble-bobble-heros.png);
}

.card.two .hero-img {
  background-image: url(images/river-city-ransom-heros.png);
}

.card.three .hero-img {
  background-image: url(images/zelda-hero.png);
}

.card.four .hero-img {
  background-image: url(images/ninja-turtles-heros.png);
}

.card.five .hero-img {
  background-image: url(images/mario-bros-heros.png);
}

.card.six .hero-img {
  background-image: url(images/kirby-hero.png);
}

.card.seven .hero-img {
  background-image: url(images/contra-heros.png);
}

.card.eight .hero-img {
  background-image: url(images/pac-man-hero.png);
}

@media only screen and (max-width: 1200px) {

nav {
  width: 80%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

}

@media only screen and (max-width: 850px) {

/*header styles*/
header {
  display: flex;
  justify-content: center;
}

nav ul {
  justify-content: space-between;
  position: relative;
  margin-top: 85px;
  margin-left: 0;
  padding: 0;
}

.header-logo {
  position: absolute;
  right: 20px;
  width: auto;
  top: 15px;
  left: 20px;
}

.header-logo img {
  height: 40px;
}

.header-account-dropdown {
  position: absolute;
  right: 25px;
  top: 30px;
}

/*card styles*/
h1 {
    text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

}


@media only screen and (max-width: 600px) {

/*header styles*/
.header-logo {
  height: 54px;
  display: block;

}

nav {
  display: flex;
  width: 75%;
  padding-left: 0px;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}

h4 {
  font-size: 9px;
  margin-right: 0px;
  text-align: center;
  margin-left: 0px;
}

li {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/*card styles*/

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.card-info {
  display: none;
  transition: all 0.25s ease-out;
}

input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

label { 
  display: inline-block;
  margin: 3% 0 3% 40%;
  cursor: pointer;
  padding: 10px 15px 10px 15px;
  color: #f9b84f;
  background: #CC3C3C;
  border-radius: 36px;
  font-size: 14px;
  border: 5px;
  transition: 1s;
}

.header-img .toggle-img {
  height: 30px;
  width: 20px;
  margin: 0;
}

label:hover {
  cursor: pointer;
}

input {
  display: block;
}

.card-stripes {
  display: none;
}

#toggle-one:checked ~ .one, #toggle-two:checked ~ .two, #toggle-three:checked ~ .three, #toggle-four:checked ~ .four, #toggle-five:checked ~ .five, #toggle-six:checked ~ .six, #toggle-seven:checked ~ .seven, #toggle-eight:checked ~ .eight {
  display: block;
}

}
