* {
  font-family: 'Open Sans', sans-serif;
  color: #4d4d4d;
  font-weight: 400;
}
html {
}
body {
    background-color: #bfe7fd;
    background-image: url(images/background.jpg);
    background-position: bottom;
    background-repeat: repeat-x;
}
h4 {
    font-size: 11px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 30px;
    margin-left: 10px;
    line-height: 14px;
    font-family: 'Press Start 2P', cursive;
}
h4:hover {
  color: #fff;
  cursor: pointer;
}

/*header styles*/
header {
  width: 100%;
  height: 20vh;
  background: #CC3C3C;
  position: relative;
}
.header-account-dropdown {
    position: absolute;
    right: 20px;
    top: 15px;
    display: flex;
    align-items: center;
}
.account-author-image {
    margin-right: 10px;
}
.header-left-link-image {
  height: 22px;
}
.header-account-dropdown a {
  text-decoration: none;
  font-size: 12px;
  color: #f9b84f;
}
.header-logo {
    position: absolute;
    right: 20px;
    bottom: 30px;
}
.header-logo img {
  height: 50px;
}
.main-nav {
  font-family: 'Press Start 2P', cursive;
    display: flex;
    bottom: 0;
    position: absolute;
    margin-bottom: 20px;
    padding-left: 20px;
    align-items: center;
}
.main-nav img {
  height: 12px;
}
li {
    list-style: none;
    display: flex;
    align-items: center;
}
.header-account-down-arrow {
  margin-left: 10px;
  display: flex;
}

/*main content styles*/
main h1 {
  color: #f9b84f;
  font-weight: 300;
  width: 100%;
  margin-bottom: 30px;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
}
h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: #4d4d4d;
  font-weight: 300;
  font-size: 15px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
main {
    padding: 2%;
}
.card {
  background: #fff;
  box-shadow: 0 2px 6px 0 #ccc;
  word-break: break-all;
  position: relative;
  overflow: hidden;
}
.card-info {
    padding: 5%;
    display: flex;
    flex-direction: column;
}
.card-header-image {
    background: url(images/otters-sleeping.png);
    height: 145px;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card.one .card-header-image {
    background: url(images/bubble-bobble-bg.jpg);
    background-position: center;
}
.card.two .card-header-image {
    background: url(images/river-city-ransom-bg.jpg);
    background-position: center;
}
.card.three .card-header-image {
    background: url(images/burger-time-bg.jpg);
    background-position: center;
}
.card-header-border {
    background-image: url(images/card-header-img-bottom-border.png);
    background-repeat: repeat-x;
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 0;
} 
.card-share-link {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-views {
    color: #fff;
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card-views p {
  margin: 0;
  padding: 0;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 400; 
  color: #fff;
}
.card-views .card-views-count {
  font-size: 25px;
}
.timestamp {
    margin-top: 4px;
    color: #999;
    font-size: 11px;
}
.card-main-link {
    padding: 4%;
    background: #efefef;
    font-size: 11px;
    margin: 3% 0;
    line-height: 16px;
}
.card-main-link a {
    color: #666;
}
.card-small-header {
  font-size: 10px;
  margin-bottom: 2px;
  color: #4d4d4d;
  text-transform: uppercase;
}
h3 {
  margin: 0 0 5px 0;
  font-size: 14px;
  color: #4d4d4d;
  font-weight: 700;
}
.card-attachments-count {
    margin: 3px 0 10px 0;
    font-size: 28px;
    color: #25b5fc;
    text-transform: uppercase;  
}
.card-stripes {
    position: absolute;
    bottom: -60px;
    right: 0;
}

@media only screen and (max-width: 1200px) {
  .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
}

@media only screen and (max-width: 850px) {
  .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.header-logo {
    position: absolute;
    right: 20px;
    width: 100%;
    top: 20px;
    left: 20px;
}
.header-account-dropdown {
    position: absolute;
    right: 20px;
    top: 35px;
}
header {
    display: flex;
    justify-content: center;
}

}
